<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "logo-share" do %>
    <i class="fa fa-money" aria-hidden="true"></i>
  <% end %>

    <%= link_to "New event", new_event_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>

</div>

