<div class="wrapper banner">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="welcome-text">
        <h1>Split fair</h1>
        <p>Some of your friends could be less wealthy than you and they can't afford fun activities... They don't feel comfortable being invited, so let them take part according to their incomes...</p>
        <%= link_to "Create a new event", new_event_path, class:"btn btn-success"  %>
      </div>
    </div>
  </div>
</div>
